certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
command-not-found==0.3
cryptography==2.8
distro-info===0.18ubuntu0.18.04.1
dnspython==1.16.0
eventlet==0.31.0
Flask==1.1.1
Flask-SocketIO==4.2.1
greenlet==0.4.15
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
language-selector==0.1
MarkupSafe==1.1.1
monotonic==1.5
pycparser==2.20
pycryptodome==3.9.7
pygobject==3.26.1
python-apt==1.6.5+ubuntu0.2
python-engineio==3.11.2
python-socketio==4.4.0
PyYAML==3.12
requests==2.18.4
six==1.14.0
ssh-import-id==5.7
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
websockets==8.1
Werkzeug==1.0.0
