<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask SocketIO Test</title>
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<!-- <script src="static/js/application.js"></script> -->


	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<p>Some sample code to make sure Flask-SocketIO works...</p>
	<!-- <form>
		<label for="number">Processes:</label>
		<input type="text" id="number" name="number"><br><br>
	</form> -->
	<!-- <button onclick="createGame()">Create</button>
	<div><button onclick="checkStatus()">CheckStatus</button></div> -->
	<p>Number of clients created: {{ num_nodes }}<div id="new"></div></p>

	<div>
		<form action="{{ url_for('interactive') }}" method="POST">
			<label for="number">Number1:</label>
			<input type="text" id="n1" name="n1"><br><br>
			<label for="number">Number2:</label>
			<input type="text" id="n2" name="n2"><br><br>
			<input type="submit" value="Submit">
			
		</form>
	</div>

	<p>Reply for request: <div id="reply"></div></p>

  
  <script type="text/javascript" charset="utf-8">
  	var socket = io.connect('http://' + document.domain + ':' + location.port);
  	
  	// function createGame() {
   //    console.log('Creating game...');
   //    var number_nodes = document.getElementById("number").value;
   //    socket.emit('create', {nodes: number_nodes, dictionary: 'Simple'});
   //  }

   //  function checkStatus(){
   //  	console.log('Checking Status...');
   //  	socket.emit('check_clients', {});

   //  }
    // var numbers_received = [];
    $(document).ready(function(){
        //connect to the socket server.
        // var socket = io.connect('http://' + document.domain + ':' + location.port);
        var numbers_received = [];

        //receive details from server
        socket.on('clients', function(msg) {
            console.log("Received number" + msg.number);

            //maintain a list of ten numbers
            if (numbers_received.length >= 1){
                numbers_received.shift()
            }            
            numbers_received.push(msg.number);
            numbers_string = 'Connected Clients: ';
            for (var i = 0; i < numbers_received.length; i++){
                numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
            }
            $('#new').html(numbers_string);
        });

        socket.on('Reply', function(msg) {
	        console.log("Reply received" + msg.reply);

	        reply_string = 'Reply: ' + '<p>' + msg.reply.toString() + '</p>';
	        $('#reply').html(reply_string);
	    });

    });

 //  	$(document).ready(function(){
	//     // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
	    
	//     // this is a callback that triggers when the "my response" event is emitted by the server.
	//     socket.on('newnode', function(msg) {
	//     	alert("lol")
	//         $('#log').append('<p>Received: ' + msg.data + '</p>');
	//     });
	//     //example of triggering an event on click of a form submit button
	//     $('form#emit').submit(function(event) {
	//         socket.emit('my event', {data: $('#emit_data').val()});
	//         return false;
	//     });

    
	// });



    // var socket = io.connect('http://' + document.domain + ':' + location.port);
    // // verify our websocket connection is established
    // socket.on('connect', function() {
    //     console.log('Websocket connected!');
    // });

    // socket.on('newnode', function() {
    // 	let clients = '{{no_clients}}'
    // 	alert('New client joined' + clients)
    // });
    // // message handler for the 'join_room' channel
    // socket.on('join_room', function(msg) {
    //     console.log(msg);
    // });
    // createGame onclick - emit a message on the 'create' channel to 
    // create a new game with default parameters
	    
  </script>
</body>
</html>